body {
    font-family:'Times New Roman', Times, serif;
    background-color: #360000;
    color: #ffc800;
    margin: 0;
    padding: 20px;
}

h1,  h3 {
    color: #ffc800;
    text-align: center;
}

h3 {
    text-align: center;
    font-style: italic;
}
nav {
    background-color: #b50000;
    padding: 10px;
    text-align: center;
    
}